[submodule "hsassets/3rdparty/iconpack-obsidian"]
	path = hsassets/3rdparty/iconpack-obsidian
	url = https://github.com/madmaxms/iconpack-obsidian
[submodule "hscommon/osinfo"]
	path = hscommon/osinfo
	url = https://gist.github.com/2335e953b45f46591839a21c502588ea.git
