name: build

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:

jobs:
  Building:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/actions/virtual-environments#available-environments
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout out source code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: 'true'

      - if: startsWith(matrix.os,'ubuntu')
        name: Set up LibGL, Mesa & X11 libraries
        run: |
          sudo apt-get --allow-releaseinfo-change update
          sudo apt-get install -y libgtk-3-dev libasound2-dev libxxf86vm-dev
      - name: Set up Go environment
        uses: actions/setup-go@v3.0.0
        with:
          go-version: 1.16.5
        id: go

      - name: Cache Go modules
        uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: make setup
        run: |
          make setup

      - name: make build
        run: |
          make build

      - name: make test
        run: |
          make test

      - name: headless test
        uses: GabrielBB/xvfb-action@v1
        with:
          # this is running only on Ubuntu: /usr/bin/xvfb-run --auto-servernum go test -v -race ./...
          run: go test -v -race ./...
